$primary-color: #F6EB0F
$secondary-color: #FD3519
$dark-blue: #112F41

$grey-900: hsl(210, 15%, 25%) // #364049
$grey-800: hsl(210, 15%, 28%) // #3D4752
$grey-700: hsl(210, 15%, 43%) // #5D6E7E
$grey-600: hsl(210, 15%, 58%) // #8494A4
$grey-500: hsl(210, 15%, 76%) // #B9C2CB
$grey-400: hsl(210, 15%, 88%) // #DCE0E5
$grey-300: hsl(210, 15%, 93%) // #EAEDF0
$grey-200: hsl(210, 15%, 96%) // #F3F5F6
$grey-100: hsl(210, 15%, 99%) // #FCFCFD

$font-family_header: "Open Sans", "Helvetica Neue", sans-serif
$letter-spacing_header: 0.02em
$font-family_main: "Open Sans", "Helvetica Neue", sans-serif
$line-height_main: 1.5em
$line-height_main_mobile: 1.7em
$line-height_menu: 1.9em
$line-height_h: 1.5em

$sidebar-width: 30%
$content-width: 70%
$sidebar-width-tablet: 40%
$content-width-tablet: 60%
$padding-content: 35px 45px
$padding-content_mobile: 0px 45px 35px
$padding-mobile-header: 15px 45px

$margin-blocks: 30px

$font-size_small: 13px
$font-size_medium: 14px
$font-size_main: 16px
$font-size_main_large: 18px
$font-size_h4: 18px
$font-size_h3: 20px
$font-size_h2: 24px
$font-size_h1: 30px
$font-size_h0: 36px

$font-weight_main: 400
$font-weight_h1: 700
$font-weight_h2: 700
$font-weight_h3: 500
$font-weight_h4: 500

$footer-background-color: $dark-blue

$box-shadow: 0 0 5px $dark-blue
$max-width-content: 35em

// Media Query sizes
$tablet-width: 768px
$desktop-width: 1024px


=font-face($family, $style, $weight, $location, $suffix)
  @font-face
    font-family: $family
    font-style: $style
    font-weight: $weight
    src: local(''), url('#{$location}-#{$suffix}.woff2') format('woff2'), url('#{$location}-#{$suffix}.woff') format('woff')

// open-sans-regular - latin
+font-face("Open Sans", normal, 400, "/portfolio/fonts/open-sans-v27-latin", "regular")

// open-sans-500 - latin
+font-face("Open Sans", normal, 500, "/portfolio/fonts/open-sans-v27-latin", "500")

// open-sans-700 - latin
+font-face("Open Sans", normal, 700, "/portfolio/fonts/open-sans-v27-latin", "700")

// open-sans-italic - latin
+font-face("Open Sans", italic, 400, "/portfolio/fonts/open-sans-v27-latin", "italic")

// open-sans-500italic - latin
+font-face("Open Sans", italic, 500, "/portfolio/fonts/open-sans-v27-latin", "500italic")

// open-sans-700italic - latin
+font-face("Open Sans", italic, 700, "/portfolio/fonts/open-sans-v27-latin", "700italic")
